.screenRegistrer, .screenLogin{
    display: none;
}
/*Primera pantalla*/
/*Barra de navegación*/
.navbar {
    background-color: #EC4C4C;
    height: 3em;
}

/*Primera sección (logo)*/
.principal-screen {
    display: flex;
    justify-content: center;
}
/*Segunda sección (texto)*/
.description-box {
    margin: 1em 3em 1em 3em;
}

.btn-lightb {
    background-color: #EC4C4C;
}

.registro-text {
    margin-bottom: 1em;
}
.registrer-User {
    text-align: center;
}

.buttons-bienvenida{
    margin: .5em .5em .5em .5em;
}

.registrer-send-button {
    display: flex;
    justify-content: center;
    margin: .5em .5em 3em .5em}
/*Efectos*/
.hide {
    display: none;
}